@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cavron!</h1>
    <p>prova commit cambio view 2</p>
    <img src="~/img/logo.jpg" /> 
    <form enctype="multipart/form-data" action="/home/index" method="post">
        <input type="file" name="file" />
        <button type="submit">invia</button>
    </form>

</div>
